.panel#js-panel
  .panel__content
    %h4 Just Checking...
    %h2 Delete your Account?
    %p This action is final and you will be unable to recover any data
  .panel__flaps
    .flap.outer.flap--left
    %a.flap.flap__btn{href:'#'} YES
    %a.flap.flap__btn{href:'#'} NO
    .flap.outer.flap--right

%a#js-replay.replay{href:'#'} Replay